#srchBox::placeholder {
	color: #CFD8DC;
}

.page-content-holder {
	position: relative;
}
.page-content {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0 !important;
}

.filters {
	margin: 0 !important;
	padding-left: 80px;
	background-color: #EEEEEE;
}

.feeds {
	background: #ff9800;
	margin: 0 !important;
	width: calc(75% + 16px);
}

.applied-filters {
	display: flex;
	flex-wrap: wrap;
}


.mr {
	margin: 16px;
}

.mr-tp {
	margin-top: 16px;
}

.mr-bm {
	margin-bottom: 16px;
}

.mr-lt {
	margin-left: 16px;
}

.mr-rt {
	margin-right: 16px;
}

.pd {
	padding: 16px;
}

.pd-tp {
	padding-left: 16px;
}

.pd-bm {
	padding-bottom: 16px;
}

.pd-lt {
	padding-left: 16px;
}

.pd-rt {
	padding-right: 16px;
}