<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News Feed</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-red.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<link rel="stylesheet" href="bundle.css">
</head>

<body>
	<div id="feedApp">
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<span class="mdl-layout-title">News Feed - AE</span>
					<div class="mdl-layout-spacer"></div>
					<nav class="mdl-navigation">
						<form @submit.prevent.default="search">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mr-lt mr-rt">
								<div class="mdl-textfield__expandable-holder">
									<input class="mdl-textfield__input" type="text" v-model="searchTerm" id="srchBox" placeholder="Title or Publisher">
									<label class="mdl-textfield__label" for="sample-expandable">Search</label>
								</div>
								<label class="mdl-button mdl-js-button mdl-button--icon" for="srchBox">
									<i class="material-icons">search</i>
								</label>
							</div>
						</form>
						<button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon mr-lt mr-rt">
							<i class="material-icons">sort_by_alpha</i>
						</button>
						<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
							<li class="mdl-menu__item" @click="sort('publisher', false)">Publisher (A - Z)</li>
							<li class="mdl-menu__item mdl-menu__item--full-bleed-divider" @click="sort('publisher', true)">Publisher (Z - A)</li>
							<li class="mdl-menu__item" @click="sort('publishedOn', true)">Newest Posts First</li>
							<li class="mdl-menu__item" @click="sort('publishedOn', false)">Oldest Posts First</li>
						</ul>
						<div class="mdl-button mdl-js-button mdl-button--icon mr-lt mr-rt">
							<i class="material-icons">filter_list</i>
						</div>
					</nav>
				</div>
			</header>
			<main class="mdl-layout__content page-content-holder">
				<div class="mdl-grid page-content">
					<div class="filters mdl-cell mdl-cell--4-col mdl-shadow--2dp">

						<h6>Select Category</h6>
						<div v-for="category in categories">
							<input type="checkbox" :id="'cat_'+category.id" v-model="category.selected" @change="onCategorySelected(category)">
							<label :for="'cat_'+category.id">{{ category.value }}</label>
						</div>

						<h6>Select Publisher</h6>
						<div v-for="publisher in publishers">
							<input type="checkbox" :id="'pub_'+publisher.id" v-model="publisher.selected" @change="onPublisherSelected(publisher)">
							<label :for="'pub_'+publisher.id">{{ publisher.publisher }}</label>
						</div>
						<p v-if="countPublishers > publishers.length" @click="loadAllPublishers">SHOW ALL</p>

					</div>
					<div class="content mdl-cell mdl-cell--8-col">
						<h6 v-if="!isAnyFilterApplied" class="no-filters-label">
							No Filters Applied
						</h6>
						<div v-else class="applied-filters">
							<span class="applied-filter mdl-chip mdl-chip--deletable" v-for="catFilter in appliedFilters.getFilters(consts.category)">
    						<span class="mdl-chip__text">{{ catFilter.displayValue }}</span>
								<button type="button" class="mdl-chip__action" @click="removeCategoryFilter(catFilter.key)">
									<i class="material-icons">cancel</i>
								</button>
							</span>
							<span class="applied-filter mdl-chip mdl-chip--deletable" v-for="publFilter in appliedFilters.getFilters(consts.publisher)">
    						<span class="mdl-chip__text">{{ publFilter.displayValue }}</span>
								<button type="button" class="mdl-chip__action" @click="removePublisherFilter(publFilter.key)">
									<i class="material-icons">cancel</i>
								</button>
							</span>
						</div>
						<div class="feeds-holder mdl-grid">
							<div class="feed-item mdl-cell mdl-cell--6-col mdl-shadow--2dp" v-for="item in feeds">
								<p class="feed-item__title">{{ item.title }}</p>
								<p class="feed-item__publisher" :href="item.publisherUrl">{{ item.publisher }}</p>
								<p class="feed-item__category">{{ item.category }}</p>
								<p class="feed-item__published-on">{{ item.publishedOnStr }}</p>
							</div>
						</div>
					</div>
				</div>
			</main>
			
			<dialog class="mdl-dialog all-pubs-dialog" id="allPubsDialog">
				<p class="mdl-dialog__title">All Publishers</p>
				<div class="mdl-dialog__content all-pubs">
					<div v-for="publ in allPublishers">
						<input type="checkbox" :id="'allPub_'+publ.id" v-model="publ.selected">
						<label :for="'allPub_'+publ.id">{{ publ.publisher }}</label>
					</div>
				</div>
				<div class="mdl-dialog__actions">
					<button type="button" class="mdl-button mdl-color--primary mdl-color-text--white" @click="selectPublishersFromDialog">Apply Filters</button>
					<button type="button" class="mdl-button" @click="closeAllPubsDialog">Cancel</button>
				</div>
			</dialog>

		</div>
	</div>
	<script src="bundle.js"></script>
</body>

</html>